<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
		 <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=5" >
		<title>Everyday</title>
	</head>
	<body class="bg bg-dark" id="Home">
		<script type="text/javascript">let default_eye_alert="{{eye_alert}}"
		let default_eye_alert_id="{{eye_alert_id}}"
	</script>

		<div class="container-fluid mx-auto border-bottom border-secondary text-center"  style="width:500px;">

			<div class="text-white display-1 mx-auto" style="width:190px;"><div class="text-white display-4">Day</div> {{date1}}</div>
		</div>
		<ul class="list-group list-group-horizontal-sm  text-white mx-auto" style="width:500px;" id="raw_eye">
			<li class="list-group-item bg-secondary border border-dark">
				<button type="button" class="btn  btn-outline-secondary rounded-circle border border-dark" aria-pressed="false" id="eyeButton" onclick="enable_eye()">
					&#128065;
				</button>
				<audio id="eyealert">
					<source src="">
				</audio>
			</li>

		</ul>



		<div class="container-fluid mx-auto" id="raw_timer" style="width:500px;">
			<h1 id="timer" class="text-white display-1 mx-auto">
				<!-- h1 should be aligned center -->
				<span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
			</h1>
			<div class="mx-auto" style="width:200px;">
				<button class="btn btn-light" id="startbtn" data-state="stop">Start</button>
				<button class="btn btn-light" id="resetbtn">Reset</button>
				<button type="button" class="btn btn-secondary btn-sm" id="addbtn">+1</button>
			</div>
		</div>
		<!-- temp modal setup not working change display to test-->
		<div style="">
			<button type="button" data-toggle="modal" data-target="#myModal">Settings</button>
			<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Settings</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closealert">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="temp_modal_body">
							<form >
								<p>Eye alert</p>
								<input type="radio" id="alert1" name="eyealert" value="0">
								<label for="alert1">Text Message 1</label><br>
								<input type="radio" id="alert2" name="eyealert" value="1">
								<label for="alert2">Spaceship</label><br>
								<input type="radio" id="alert3" name="eyealert" value="2">
								<label for="alert3">Bell</label><br>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id='eyeSave'>Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of temp modal setup -->
		<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='popper.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='stopwatch.js') }}"></script>

	</body>
</html>