<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
		<title>Test</title>
	</head>
	<body class="bg bg-dark">

		<div class="container-fluid mx-auto border" style="width:500px;">

			<div class="text-white display-1 mx-auto" style="width:190px;"><div class="text-white display-4">Day</div> {{date1}}</div>
		</div>
		<ul class="list-group list-group-horizontal-sm  text-white mx-auto" style="width:500px;">
  			<li class="list-group-item bg-secondary border border-dark">
  				<button type="button" class="btn  btn-outline-secondary rounded-circle border border-dark" aria-pressed="false" id="eyeButton" onclick="enable_eye()">
					&#128065;
				</button>
				<audio id="eyealert">
   					<source src="{{ url_for('static', filename='sms-alert-3-daniel_simon.wav') }}">
				</audio>
			</li>

		</ul>

		<div class="container-fluid mx-auto" style="width:500px;">
			<h1 id="timer" class="text-white display-1 mx-auto">
				<!-- h1 should be aligned center -->
				<span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
			</h1>
			<div class="mx-auto" style="width:200px;">
				<button class="btn btn-light" id="startbtn" data-state="stop">Start</button>
				<button class="btn btn-light" id="resetbtn">Reset</button>
				<button type="button" class="btn btn-secondary btn-sm" id="addbtn">+1</button>
			</div>
		</div>

		

		<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='popper.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='stopwatch.js') }}"></script>

	</body>
</html>