<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
		<title>Main</title>
	</head>
	<body class="bg bg-dark">
		<div class="container-fluid mx-auto border" style="width:500px;">
			<div class="text-white display-1 mx-auto" style="width:190px;"><div class="text-white display-4">Day</div> {{date1}}</div>
		</div>


		<div class="container-fluid mx-auto" style="width:500px;">
			<h1 id="timer" class="text-white display-1 mx-auto">
				<!-- h1 should be aligned center -->
				<span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span><h1>
			<div class="mx-auto" style="width:200px;">
				<button class="btn btn-light" id="startbtn">Start</button>
				<button class="btn btn-light" id="resetbtn">Reset</button>
				<button type="button" class="btn btn-secondary btn-sm" id="addbtn">+1</button>
			</div>
		</div>

	 	<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='popper.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='stopwatch.js') }}"></script>
	</body>
</html>